In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests

In [2]:
## Set up splinter
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [4]:
# Bring in the website to be scraped
url = 'https://mars.nasa.gov/news'
browser.visit(url)

In [26]:
#Iterate through x number of pages:
for x in range(1):
    
    html=browser.html
    
    soup=bs(html, 'html.parser')
    articles = soup.find('div', class_='grid_layout')
    article = articles.find('li', class_='slide')
    print(article)
    
    #Iterate through each news article
#     for art in article:
        
    news_title = article.find('div', class_='content_title').text
    news_p = article.find('div', class_='article_teaser_body').text
    if news_title:

        print(f"Title: {news_title}")
        print(f"Text: {news_p}")
        break

    # Click the 'More' button on each page
    try:
        browser.click_link_by_partial_text('More')
        
    except:
        print("Scraping Complete")

<li class="slide"><div class="image_and_description_container"><a href="/news/8762/nasas-new-mars-rover-is-ready-for-space-lasers/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Perseverance is one of a few Mars spacecraft carrying laser retroreflectors. The devices could provide new science and safer Mars landings in the future.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="small dome called the Laser Retroreflector Array on the Perseverance rover" src="/system/news_items/list_view_images/8762_PIA24097-320x240.jpg"/></div><div class="bottom_gradient"><div><h3>NASA's New Mars Rover Is Ready for Space Lasers</h3></div></div></a><div class="list_text"><div class="list_date">September 28, 2020</div><div class="content_title"><a href="/news/8762/nasas-new-mars-rover-is-ready-for-space-lasers/" target="_self">NASA's New Mars Rover Is Ready for Space Lasers</a></div><div class="article_teaser_body">Perseverance is one of a few Mars spacecraft carrying laser retroreflectors. The devices could provide new science and safer Mars landings in the future.</div></div></div></li>
Title: NASA's New Mars Rover Is Ready for Space Lasers
Text: Perseverance is one of a few Mars spacecraft carrying laser retroreflectors. The devices could provide new science and safer Mars landings in the future.

# JPL Mars Space Images

In [34]:
# Bring in the website to be scraped
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [36]:
##Get featured image from url
html = browser.html
soup = bs(html, 'html.parser')

result = soup.find('a', class_='button fancybox')

featured_image_url = f"https://www.jpl.nasa.gov{result['data-fancybox-href']}"
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17794_ip.jpg'

# Mars Facts

In [37]:
url = 'https://space-facts.com/mars/'

In [38]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [39]:
##Save Mars information to dataframe and set the index to the info fields
df = tables[0]

df.set_index(0, inplace=True)
df

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [40]:
#transpose the dataframe 
df = df.transpose()
df

,Equatorial Diameter:,Polar Diameter:,Mass:,Moons:,Orbit Distance:,Orbit Period:,Surface Temperature:,First Record:,Recorded By:
1,"6,792 km","6,752 km",6.39 × 10^23 kg (0.11 Earths),2 (Phobos & Deimos),"227,943,824 km (1.38 AU)",687 days (1.9 years),-87 to -5 °C,2nd millennium BC,Egyptian astronomers

In [41]:
##create and HTML table string
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Equatorial Diameter:</th>\n      <th>Polar Diameter:</th>\n      <th>Mass:</th>\n      <th>Moons:</th>\n      <th>Orbit Distance:</th>\n      <th>Orbit Period:</th>\n      <th>Surface Temperature:</th>\n      <th>First Record:</th>\n      <th>Recorded By:</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>6,792 km</td>\n      <td>6,752 km</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n      <td>227,943,824 km (1.38 AU)</td>\n      <td>687 days (1.9 years)</td>\n      <td>-87 to -5 °C</td>\n      <td>2nd millennium BC</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [85]:
# Bring in the website to be scraped
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [86]:
##Get hemisphere search results
html = browser.html
soup = bs(html, 'html.parser')

results = soup.find_all('div', class_='item')
title = []
img_url = []

##iterate through the hemisphere pages by visiting each page to get title and image url
for result in results:
    
    link = "https://astrogeology.usgs.gov" + result.find('a', class_='itemLink product-item')['href']
    browser.visit(link)
    html = browser.html
    soup = bs(html,'html.parser')
    page_result = soup.find('div', class_='container')
    
    
    title.append(page_result.find('h2', class_='title').text)
    img_url.append("https://astrogeology.usgs.gov" + page_result.find('img', class_="wide-image")['src'])

 


print(title, img_url)

['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced', 'Valles Marineris Hemisphere Enhanced'] ['https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg', 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg', 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg', 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [61]:
#Save hemisphere info to a dataframe
hemisphere_image_urls = pd.DataFrame({
    "title": title,
    "img_url": img_url
})
    
hemisphere_image_urls

,title,img_url
0,Cerberus Hemisphere Enhanced,https://astropedia.astrogeology.usgs.gov/downl...
1,Schiaparelli Hemisphere Enhanced,https://astropedia.astrogeology.usgs.gov/downl...
2,Syrtis Major Hemisphere Enhanced,https://astropedia.astrogeology.usgs.gov/downl...
3,Valles Marineris Hemisphere Enhanced,https://astropedia.astrogeology.usgs.gov/downl...

In [65]:
hemisphere_image_urls['img_url'][0]

'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif'